<%- include('./partials/header.ejs') %>
  <div class="welcome-card">
    <div class="card-content">
      <h1>Welcome to Healthcare Donation 🩺🤝</h1>
      <h3>Sign in or sign up to get started..</h3>
      <div>
        <a href="/auth/sign-in" class="btn-main">Sign In</a>
        <a href="/auth/sign-up" class="btn-secondary">Sign Up</a>
      </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>

