<%- include('./partials/header.ejs') %>

<% if (user) { %>
  <h1>Welcome to the app, <%= user.username %>!</h1>
  <p>Use the navigation above to access your medicalEquipment ,donation , request and user </p>
  <% }
  else { %>
    <h1>Welcome to Healthcare Donation 🩺🤝, guest.</h1>
    <p>Please Sign in or sign up to get started..</p>
    <% } %>

<%- include('./partials/footer.ejs') %>
